body {
    background-color: #0e103e;
    font-family: Helvetica;
    color: white;
    transition: all 1s ease-in;
}

.step {
    min-width: 700px;
    min-height: 700px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    opacity: 0.3;
}

.purple {
    background-color: #702076;
}

.step.active {
    opacity: 1;
}

.slide {
    min-width: 1024px;
    min-height: 768px;
    background-color: white;
    color: black;
    opacity: 1;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 2px #33333333;
}

.impress-on-intro {
    background-color: black;
}

.fade {
    transition: opacity 1s ease-in;
}

.fade.future {
    opacity: 0;
}


